APP_ENV=local

DB_NAME=cadencereader
DB_USER=postgres
DB_PASS=dev
DB_PORT=5432

MIGRATION_FOLDER=../database/migrations
VIEW_FOLDER=../apps/web/views

MAIN_HOST=localhost
MAIN_DOMAIN=localhost
MAIN_HTTP_PORT=8080

DRIPPER_HOST=localhost
DRIPPER_DOMAIN=localhost
DRIPPER_HTTP_PORT=8081
