<!DOCTYPE html>
<html>

<head>
    <title>Cadence Reader</title>
</head>

<body>
    <h2>Cadence Reader</h2>
    <h4>For Reading, but a little different</h4>
    <p>
        <i>The idea is basically this</i>
        <br />
    Create an app which 
    <ol>
        <li>Watches RSS feeds from blogs,</li>
        <li>Ingests those blog posts</li>
        <li>Allow users to read blog posts
            <ul>
                <li>one word,</li>
                <li>one sentence,</li>
                <li>or one paragaph</li>
            </ul> 
            at a time.
    </ol>
    <br />
    <ul>
    {{range .}}
        <li><a href="/post/{{.ID}}">{{.Title}}</a></li>
    {{end}}
    </ul>
    <a href="/add-blog">Add your Blog's RSS feed here</a><br />
    <a href="https://github.com/somethingsoftware/cadencereader">This site is open source! check out the code here</a>
    </p>
</body>

</html>