<!DOCTYPE html>
<html>

<head>
    <title>Cadence Reader</title>
</head>

<body>
    <script>
        var idx = 0;
        async function getData() {
            console.log("getData called")
            // Get the selected segment option
            const selectElement = document.getElementById("segment_types");
            const selectedValue = selectElement.value;
            console.log(`segment type ${selectedValue}`);
            const url = `{{.Host}}/post/{{.ID}}/${selectedValue}/` + idx;
            try {
                var attemptedIdx = idx;
                idx++
                const response = await fetch(url);
                if (!response.ok) {
                    throw new Error(`Response status: ${response.status}`);
                }

                const result = await response.text();

                var div = document.getElementById('append');
                div.innerText += (' ' + result)
            } catch (error) {
                console.error('failed on idx %d: %s', attemptedIdx, error.message);
            }
        }

        document.body.onkeyup = function (e) {
            if (e.key == " " ||
                e.code == "Space" ||
                e.keyCode == 32
            ) {
                getData()
            }
        }
    </script>
    <h2>Cadence Reader</h2>

    <label>segment type:</label>
    <select name="segment_type" id="segment_types">
        <option value="word" selected>Word</option>
        <option value="sentence">Sentence</option>
        <option value="paragraph">Paragraph</option>
    </select>

    <h4>{{.Title}}</h4>
    <br />
    <button onclick="getData()">get data</button>
    <p>
    <div id="append"></div>
    <br />
    <br />
    <a href="/add-blog">Add your Blog's RSS feed here</a><br />
    <a href="https://github.com/somethingsoftware/cadencereader">This site is open source! check out the code here</a>
</body>

</html>